body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    padding:1em;
    z-index:2;
}

/*??why is blend mode not working??*/
img, p {
    max-width:500px;
    position:relative;
    mix-blend-mode:exclusion;
    border: 2px black solid;
}

.photo {
    z-index:1;
    display:inline-block;
}

.album {
    display:flex;
    flex-flow: row wrap;
}

.album > * {
    width:30%;
    height:30vh;
    overflow:hidden;
    padding:0;
    margin:1%;
    border: 2px black solid;
}

img {
    width:100%;
    height:auto;
}

.photo.aika {
    background: url("../assets_copy/aika/statue1.jpeg");
    background-size: contain;
}

.photo.alex {
    background: url("../assets_copy/alex/twilight1.jpeg");
    background-size: contain;
}

.photo.cathy {
    background: url("../assets_copy/cathy/letter1.jpeg");
    background-size: contain;
}

.photo.henry {
    background: url("../assets_copy/henry/sandals1.jpeg");
    background-size: contain;
}

.photo.jess {
    background: url("../assets_copy/jess/tushonka1.jpeg");
    background-size: contain;
}

.photo.minh {
    background: url("../assets_copy/minh/crib1.jpeg");
    background-size: contain;
}

.photo.siri {
    background: url("../assets_copy/siri/magicarp1.jpeg");
    background-size: contain;
}

.photo.sunny {
    background: url("../assets_copy/sunny/wombchair1.jpeg");
    background-size: contain;
}